MercadoEnvio/Negocio/obj/Debug/MercadoNegocio.csproj.FileListAbsolute.txt
MercadoEnvio/Negocio/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MercadoEnvio/Negocio/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MercadoEnvio/Negocio/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MercadoEnvio/WindowsFormsApplication1/bin/Debug/WindowsFormsApplication1.exe.config
MercadoEnvio/WindowsFormsApplication1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MercadoEnvio/WindowsFormsApplication1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MercadoEnvio/WindowsFormsApplication1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MercadoEnvio/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.ABM_Rol.Alta_Rol.resources
MercadoEnvio/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.ABM_Rol.Listado_Roles.resources
MercadoEnvio/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.ABM_Rol.Modificacion_Rol.resources
MercadoEnvio/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.ABM_Usuario.AltaModUsuarioForm.resources
MercadoEnvio/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.ABM_Usuario.DatosCliente.resources
MercadoEnvio/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.ABM_Usuario.DatosEmpresa.resources
MercadoEnvio/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.ABM_Usuario.Listado_Usuarios.resources
MercadoEnvio/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.ABM_Usuario.Modificacion_Usuarios.resources
MercadoEnvio/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.ABM_Visibilidad.AltaModVisibForm.resources
MercadoEnvio/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.ABM_Visibilidad.Datos.resources
MercadoEnvio/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.ABM_Visibilidad.VisibilidadesForm.resources
MercadoEnvio/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.Calificar.Calificar.resources
MercadoEnvio/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.Facturas.FacturasVendedor.resources
MercadoEnvio/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.Generar_Publicación.GenerarPublicacion.resources
MercadoEnvio/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.Historial_Cliente.HistorialForm.resources
MercadoEnvio/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.Listado_Estadistico.ListadoClientesComprasForm.resources
MercadoEnvio/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.Listado_Estadistico.ListadoEstadisticoForm.resources
MercadoEnvio/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.Listado_Estadistico.ListadoVendedoresCantidadFacturas.resources
MercadoEnvio/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.Listado_Estadistico.ListadoVendedoresMontoFactura.resources
MercadoEnvio/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.Listado_Estadistico.SeleccionAnioYTrimestreForm.resources
MercadoEnvio/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.LoginForm.resources
MercadoEnvio/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.Principal.PaginaPrincipal.resources
MercadoEnvio/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.Properties.Resources.resources
MercadoEnvio/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.SelectRolForm.resources
MercadoEnvio/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.csproj.FileListAbsolute.txt
MercadoEnvio/MercadoEN/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MercadoEnvio/MercadoEN/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MercadoEnvio/MercadoEN/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
